/* Color Palette
Azul cielo:     #D5E5F2
Amarillo verde: #D5D977
Verde Hoja:     #778C2A
Verde Bandera:  #465902
Naranja:        #A6450D
*/
/* Color Theme Swatches in Hex */


body {
    background: #465902;
    color: #242419;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /*cursor: url(../img/mazo.png), auto;*/
}

h1 {
    font-size: 2em;
    padding: 0 2em 0.8em 2em;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 1.8em;
    padding: 0 3em;
    margin: 0;
}

button {
    width: 5em;
    height: 2.5em;
    border-radius: 0.7em;
    background: #A6450D;
    border: 0.1em solid transparent;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    margin-bottom: 1em;
    cursor: pointer;
}

select {
    padding: 8px;
    font-size: 1.2em;
    border-radius: 4px;
    background-color: #465902;
    color: white;
    cursor: pointer;
    text-align: center;
}
  
select:hover {
    border-color: #666;
}
  
select:focus {
    outline: none;
    box-shadow: 0 0 3px #666;
}
  
select option {
    padding: 8px;
}
  

#game-container {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    background: #D5D977;
}

#cabecera {
    background: #A6450D;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

#cabecera #tagline {
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
}

#timer {
    font-size: 24px;
    margin-bottom: 10px;
}

#score {
    font-size: 24px;
}

#final-message {
    padding: 1em 0 1em 0;
    font-size: 1.8em;
}
.hole {
    width: 6em;
    height: 6em;
    background-color: #778C2A;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.mole {
    width: 74%;
    height: 58%;
    background-image: url(/img/topo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 2px;
}