/* Color Palette
Azul cielo:     #D5E5F2
Amarillo verde: #D5D977
Verde Hoja:     #778C2A
Verde Bandera:  #465902
Naranja:        #A6450D
*/
/* Color Theme Swatches in Hex */


body {
    background: #465902;
    color: #242419;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    cursor: url(../img/mazo.png), auto;
}

h1 {
    font-size: 3em;
    padding: 0.8em 2em;
    text-align: center;
    margin: 0;
}

button {
    width: 5em;
    height: 2.5em;
    border-radius: 0.7em;
    background: #A6450D;
    border: 0.1em solid transparent;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    margin-bottom: 1em;
    cursor: pointer;
}

#game-container {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    background: #D5D977;
}
#timer {
    font-size: 24px;
    margin-bottom: 10px;
}

#score {
    font-size: 24px;
}

#final-message {
    padding: 1em 0 1em 0;
    font-size: 1.8em;
}
.hole {
    width: 80px;
    height: 80px;
    background-color: #778C2A;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.mole {
    width: 60px;
    height: 60px;
    background-color: #D5E5F2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
