/* Color Palette
Azul cielo:     #D5E5F2
Amarillo verde: #D5D977
Verde Hoja:     #778C2A
Verde Bandera:  #465902
Naranja:        #A6450D
*/
/* Color Theme Swatches in Hex */


body {
    background: #465902;
    color: #242419;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {    
    font-size: 2em;
    padding: 0 2em 0.8em 2em;
    text-align: center;
    margin: 0.5em 1em 1em 1em;
}

h2 {
    font-size: 1.8em;
    padding: 0 3em;
    margin: 0;
    color: #A6450D;
}

button {
    width: 5em;
    height: 2.5em;
    border-radius: 0.7em;
    background: #A6450D;
    border: 0.1em solid transparent;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    margin-bottom: 1em;
    cursor: pointer;
}

select {
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 4px;
    background-color: #465902;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 1em 0;
    text-align-last: center;
}
  
select:hover {
    border-color: #666;
}
  
select:focus {
    outline: none;
    box-shadow: 0 0 3px #666;
}
  
select option {
    padding: 8px;
}

#game-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    background: #D5D977;
}

#cabecera {
    background: #A6450D;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

#tagline {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}

#post #level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.7em 0;
}

#start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

#btn-level {
    width: 6.5em;
    height: 3em;
    border-radius: 0.7em;
    background: #A6450D;
    border: 0.1em solid transparent;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    cursor: pointer;
}

#timer {
    font-size: 1.6em;
    margin-bottom: 10px;
}

#score {
    font-size: 1.6em;
}

#final-message {
    padding: 1em 0.4em;
    font-size: 1.8em;
}

#footer {
    background: #A6450D;
    color: white;
    text-align: center;
    padding: 0.5em;
    font-size: 1.2em;
}

#img-footer {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin: 0 0 0 0.4em;
}

.hole {
    width: 6em;
    height: 6em;
    background-color: #778C2A;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.mole {
    width: 74%;
    height: 58%;
    background-image: url(../img/topo.png);
    background-size: cover;
    border-radius: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 2px;
}

@media (max-width: 1440px) {
    #game-container {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    #game-container {
        width: 90%;
    }
    #tagline {
        font-size: 1.8em;
    }
}

@media (max-width: 768px) {
    h2 {
        padding: 0 2em;
    }
    #game-container {
        width: 100%;
    } 
    #post {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    #timer {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    #score {
        font-size: 1.5em;
    }
    #final-message {
        padding: 1em 0.4em;
        font-size: 1.7em;
    }
    .hole {
        width: 5em;
        height: 5em;
        margin: 8px;
    }
}

@media (max-width: 480px) {
    h1 {
        margin:0.5em 0 0.5em 0;
        font-size: 1.7em;
        padding: 0;
    }
    h2 {
        font-size: 1.5em;
        padding: 0 1em;
    }
    button {
        width: 4.6em;
        height: 2.3em;
        font-size: 1.5em;
    }
    select {
        padding: 0.5em 0.2em;
    }
    #btn-level {
        width: 6em;
        height: 2.8em;
        font-size: 1.3em;
    }
    #tagline {
        font-size: 1.5em;
    }
    .hole {
        width: 4.5em;
        height: 4.5em;
        margin: 6px;
    }
}

@media (max-width: 360px) {
    button {
        width: 4.5em;
        height: 2.2em;
        font-size: 1.3em;
    }
    select {
        padding: 0.5em 0.2em;
    }
    #tagline {
        font-size: 1.1em;
    }
    #btn-level {
        width: 6.8em;
        height: 2.8em;
        font-size: 1.1em;
    }
    .hole {
        width: 4em;
        height: 4em;
        margin: 5px;
    }
}